@font-face {
	font-family: 'PoiretOne'; 
	src: local('PoiretOneRegular'),
		url(../fonts/PoiretOneRegular/PoiretOne-Regular.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url(/img/background.jpg);
  color: white;
  font-family: 'PoiretOne';
  font-size: 20px;
  line-height: 25px;
}

/* Header start */
.header {
  width: 40%;
  justify-content: space-between;
  flex-direction: column;
  float: left;
  display: flex;
  min-height: 100vh;
  position: fixed;
  padding: 60px 50px;
}
.hello {
  position: relative;
  margin-bottom: 40px;
}
.myname {
  padding: 10px;
}
.frontend {
  padding: 10px;
}
.little_about_me {
  padding: 10px;
}

.navigate {
  list-style-type: none;
  position: relative;
  padding: 20px;
  text-transform: uppercase;
}
.about_li {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.experience_li {
  text-decoration: none;
  color: white;
}
.projects_li {
  text-decoration: none;
  color: white;
}
.contacts_li {
  text-decoration: none;
  color: white;
}
.social_media {
  width: 100%;
}
.github_link {
  display: inline-block;
  width: 15%;
}
.github_img {
  width: 100%;
  filter: invert(100%);
}
.vk_link {
  display: inline-block;
  width: 15%;
}
.vk_img {
  width: 100%;
  filter: invert(100%);
}

/* main start */
main {
  width: 60%;
  float: right;
  padding: 60px 50px;
}

.about {
  padding: 10px 20px;
}
.experience {
  padding: 10px 20px;
}
.projects {
  padding: 10px 20px;
}
.contacts {
  padding: 10px 20px;
}